

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<footer th:fragment="footer">
		<script src="jquery.min.js"></script>
		<script src="jquery.plugin.js"></script>
		<script src="jquery.countdown.js"></script>
		<script>
			$(function() {
				var austDay = new Date();
				austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
				$('#defaultCountdown').countdown({
					until : austDay,
					timezone: 0,
					layout: '<b>Daily Close:</b>   {hn} {hl} {mn} {ml} {sn} {sl}'
				});
				/* $('#year').text(austDay.getFullYear()); */
			});
		</script>
		<script>
			function getNextSunday(d) {
				  d = new Date(d);
				  var day = d.getDay(),
				      diff = d.getDate() - day + 7; 
				  var sun = new Date(d.setDate(diff));
				  sun.setHours(0); sun.setMinutes(0); sun.setSeconds(0);
				  return sun;
				}
			$(function() {
				var weekly = getNextSunday(new Date());
				$('#weeklyCountdown').countdown({
					until : weekly,
					timezone: 0,
					layout: '<b>Weekly Close:</b>  {dn} {dl} {hn} {hl} '
				});
			});
		</script>


		<span>
			What The Phil™ 2020<br> Financial freedom belongs to all of us.
		</span>

		<div id="defaultCountdown"></div>
		<div id="weeklyCountdown"></div>
	</footer>
</body>
</html>