<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<footer th:fragment="footer">
		

		<span>
			What The Phil™ 2020 <a href="https://twitter.com/messages/compose?recipient_id=1396293804&text=Hello%20whatthephil.com%20would%20be%20better%20if%20">Feedback?</a>
			<br/> <i>Financial freedom belongs to all of us.</i>
		</span>
		<div><b>Daily Close:</b> <span id="daily"></span> </div>
    	<div><b>Weekly Close:</b> <span id="weekly"></span> </div>
    	<div><b>Monthly Close:</b> <span id="monthly"></span> </div>
    	
    	
    	
    	
    	<script src="moment.js"></script>
		<script src="countdowntimer.js"></script>
		<script>
			var dailyCloseSeconds = moment.utc().endOf("day").diff(moment.utc(), 'seconds');
			var weeklyCloseSeconds = moment.utc().endOf("week").diff(moment.utc(), 'seconds');
			var monthlyCloseSeconds = moment.utc().endOf("month").diff(moment.utc(), 'seconds');
		
			//Countodnw to daily close.
			var dailyDisplay = document.querySelector('#daily'),
			  dailyTimer = new CountDownTimer(dailyCloseSeconds);
			dailyTimer.onTick(dailyFormat).start();
		
			function dailyFormat(days, hours, minutes, seconds) {
			  minutes = minutes < 10 ? "0" + minutes : minutes;
			  seconds = seconds < 10 ? "0" + seconds : seconds;
			  dailyDisplay.textContent = hours + 'H ' + minutes + 'm ' + seconds + 's';
			}
		
			//Countodnw to weekly close.
			var weeklyDisplay = document.querySelector('#weekly'),
			  weeklyTimer = new CountDownTimer(weeklyCloseSeconds);
			weeklyTimer.onTick(weeklyFormat).start();
		
			function weeklyFormat(days, hours, minutes, seconds) {
			  minutes = minutes < 10 ? "0" + minutes : minutes;
			  seconds = seconds < 10 ? "0" + seconds : seconds;
			  weeklyDisplay.textContent = days + 'D ' + hours + 'H ' + minutes + 'm ';
			}
		
			//Countodnw to monthly close.
			var monthlyDisplay = document.querySelector('#monthly'),
			  monthlyTimer = new CountDownTimer(monthlyCloseSeconds);
			monthlyTimer.onTick(monthlyFormat).start();
		
			function monthlyFormat(days, hours, minutes, seconds) {
			  minutes = minutes < 10 ? "0" + minutes : minutes;
			  seconds = seconds < 10 ? "0" + seconds : seconds;
			  monthlyDisplay.textContent = days + 'D ' + hours + 'H ' + minutes + 'm ';
			}
		</script>
	</footer>
</body>
</html>