<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:fragment="menu" id="menu">
	<ul id="nav">
		<!-- lis on same line intentionally to not show whitespace.  -->
		<li><a href="/" target="_self">Analysis</a></li><li><a href="/steps" target="_self">Exchange</a></li><li><a href="/learn" target="_self">Education</a></li><li><a href="/twitter" target="_self">Twitter</a></li><li><a target="_blank" href="https://t.co/IcIWzqP5XK">Discord</a></li>
	</ul>
	
</div>
</html>