<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<link rel="stylesheet" th:href="@{coin-lend.css}" />

<title>What The Phil</title>
</head>

<title>What The Phil</title>
</head>
<body class="Site">
	<h1 class="header_logo">
		<a href="http://whatthephil.com"><img id="mainImage"
			src="whatthephil-logo.png" /></a>
	</h1>
	<div class="Site-content">

		<div id="main">


			<ul id="nav">
				<li><a href="/">Crypto Analysis</a></li>
				<li><a href="/steps">Getting Started</a></li>
				<li><a href="/arthur">End</a></li>
				<li><a  target="_blank" href="https://t.co/IcIWzqP5XK">Discord</a></li>
			</ul>
		</div>

		<div id="steps">
			<center>
				<a href="https://bitmex.com"><img align="center" height=500px
					width=500px id="arthur" src="arthur_smile.png" /></a>
			</center>
		</div>

	</div>

	<footer>What The Phil™ 2003-2019</footer>
</body>
</html>

<script>
var arthur = document.getElementById('arthur')

setInterval(() => {
	arthur.style.transform += "rotate(10deg)";
}, 100);   
</script>
