<html>
<head>


<title>What The Phil</title>
</head>

<body class="Site">
	<h1 class="header_logo">
		<a href="http://localhost:8080/greeting">What The Phil</a>
	</h1>
	<div class="Site-content">

		<div id="main">
			<h1>Help Jason Floyd</h1>
			<a href="https://serverfault.com/users/110134/jason-floyd"> <img
				id="mainImage" src="jasonfloyd.jpg" /></a>
		</div>
		<h2>
			<a href="https://coinlend.org">Spot Lending Rates</a>
		</h2>
		<div class='div_iframe'>
			<iframe class='frame' scrolling="no" src='https://coinlend.org'></iframe>
		</div>
		<h2>
			<a href="https://www.bitmex.com/app/fundingHistory">Bitmex
				Funding Rates</a>
		</h2>
		<h2>
			<a href="https://www.turtlebc.com/tools/buy_percentage?period=3years">Bull
				Market Percentage</a>
		</h2>
		<p>
			<img src="CoinTracking_exchanges_300.png" />
		</p>
	</div>

	<footer>What The Phil™ 2003-2019</footer>
</body>
</html>

<script>
var mainImage = document.getElementById('mainImage')
setInterval(() => {
	mainImage.style.transform += "rotate(10deg)";
}, 100);   
</script>