<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<link rel="stylesheet" th:href="@{coin-lend.css}" />

<title>What The Phil</title>
</head>

<body class="Site">
	<h1 class="header_logo">
		<a href="http://whatthephil.com"><img id="mainImage"
			src="whatthephil-logo.png" /></a>
	</h1>
	<div class="Site-content">

		<div id="main">
			<h1>Crypto Analysis</h1>
			<a target="_blank" href="https://coinmarketcap.com"> <img
				id="coin" src="favicon.ico" /></a>
		</div>
		
		<div id="bitcoin">
			<h2>Bitcoin Analysis</h2>

			<h2>
				<a target="_blank" href="https://www.bitmex.com/app/fundingHistory">Bitmex
					Funding Rates</a>
			</h2>
			<figure>
			<img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />
			</figure>

		</div>
		
		<div id="altcoin">
			<h2>Altcoin analysis</h2>
			<h3>
				<a target="_blank"
					href="https://www.turtlebc.com/tools/bull_percentage/btc">Altcoin
					Bull Market Percentage</a>
			</h3>
			<h3>
				<a target="_blank" href="https://coinlend.org">Spot Lending
					Rates</a>
			</h3>
			<figure id="coinlend">
				<div class='div_iframe'>
					<iframe class='frame' scrolling="no" src='https://coinlend.org'></iframe>
				</div>
			</figure>
		</div>


		<div id="bottom">
			<a href="https://bitmex.com"> <img src="bitmex.png" /></a> <a
				target="_blank" href="https://cointracking.info?ref=P703070"> <img
				src="CoinTracking_exchanges_300.png" />
			</a>
		</div>

	</div>

	<footer>What The Phil™ 2003-2019</footer>
</body>
</html>

<script>
var mainImage = document.getElementById('mainImage')
var coin = document.getElementById('coin')

setInterval(() => {
	mainImage.style.transform += "rotate(10deg)";
	coin.style.transform += "rotate(10deg)";
}, 100);   
</script>