<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<link rel="stylesheet" th:href="@{coin-lend.css}" />
<title>What The Phil</title>
</head>

<body class="Site">
	<div class="header_logo">
		<a href="http://whatthephil.com"><img id="mainImage"
			src="whatthephil_herbert.png" /></a>
		<div id="main"></div>
	</div>
	<div th:replace="fragments/menu :: menu"></div>
	
	<div class="Site-content">

		<div id="bitcoin">
			<h1>Bitcoin Analysis</h1>

			<h2>
				<a target="_blank" href="https://www.bitmex.com/app/fundingHistory">Bitmex
					Funding Rates</a>
			</h2>
			<figure>
				<a target="_blank" href="https://coinmarketcap.com/charts"><img
					src="coinmarketcap.png" alt="coinmarket" /></a>
			</figure>
			<figure>
				<a target="_blank"
					href="https://alternative.me/crypto/fear-and-greed-index"><img
					src="https://alternative.me/crypto/fear-and-greed-index.png"
					alt="Latest Crypto Fear & Greed Index" /></a>
			</figure>

		</div>

		<div id="altcoin">
			<h1>Altcoin analysis</h1>
			<h3>
				<a target="_blank"
					href="https://www.turtlebc.com/tools/bull_percentage/btc">Altcoin
					Bull Market Percentage</a>
			</h3>
			<figure id="coinlend">
				<a target="_blank" href="https://coinlend.org">
					<div class='div_iframe'>
						<iframe class='frame' scrolling="no" src='https://coinlend.org'></iframe>
					</div>
				</a>
			</figure>
			<figure id="coinlend">
				<h3>DDEX Decentrelized Exchange</h3>
				<a href="https://ddex.io/trade/WETH-DAI"> <img
					src="eth_icon.webp" /></a>
			</figure>
		</div>


		<div id="bottom">
			<a href="https://bitmex.com"> <img src="bitmex.png" /></a> <a
				target="_blank" href="https://cointracking.info?ref=P703070"> <img
				src="CoinTracking_exchanges_300.png" />
			</a>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
