<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<link rel="stylesheet" th:href="@{coin-lend.css}" />
<title>What The Phil</title>
</head>
<body class="Site">
	<div th:replace="fragments/header :: header"></div>


		<div id="steps">
			https://www.babypips.com/learn/forex
			https://themarket101.files.wordpress.com/2012/12/technical-analysis-and-stock-market-profits.pdf
			https://www.youtube.com/channel/UCBaU9NXRPjkLGgJy-M7RPCw
				
		</div>

	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>