<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<base target="_blank">
<title>What The Phil</title>
<style>
h2 {
	background-color: lightgreen;
}
img, iframe {
	display: block;
	margin: auto;
}
</style>
</head>
<body class="Site">
	<div th:replace="fragments/header :: header"></div>

	<div class="Site-content">
				<figure>
					<h2>
					This easy to read guide covers all the basics. It's based on Forex but applicable to all markets. 
					</h2>
					<a href="https://www.babypips.com/learn/forex">
						<img src="babypips.png" style="display:block;margin:auto;" alt="baby pips" />
					</a>
				</figure>
				
				<figure>
					<h2>
					This old book covers all the classical charting patterns and explains them in detail. Read it through or use it as a reference. 
					</h2>
					<a href="https://themarket101.files.wordpress.com/2012/12/technical-analysis-and-stock-market-profits.pdf">
						<img src="techialanalysisbook.png" alt="technical analysis book" />
					</a>
				</figure>
				
				<figure>
					<h2>
					Crypto Cred has the best trading education videos on YouTube. Checkout all his videos <a href="https://www.youtube.com/channel/UCBaU9NXRPjkLGgJy-M7RPCw/videos?view=0&sort=p&flow=grid"> here.</a> 
					</h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/1ffxSdX48VI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</figure>
				<figure>
					<h2>
					ICT also has many educational videos and developed many trading techniques. Checkout all his videos <a href="https://www.youtube.com/c/InnerCircleTrader/videos"> here.</a> 
					</h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/uE-aaP16nOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</figure>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>