<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<link rel="stylesheet" th:href="@{coin-lend.css}" />
<base target="_blank">
<title>What The Phil</title>
</head>
<body class="Site">
	<div th:replace="fragments/header :: header"></div>
	
	
	<div class="Site-content">
		<div id="steps">
			<h1>Buy with bank account</h1>
			<p>
				If you live in the USA Gemini and Coinbase are your only decent
				options for buying crypto with USD. I recommend Gemini because the fees are
				lower. Deposit money with your bank account to minimize fees.
			</p>
			<a href="https://gemini.com/">
				<img src="gemini-logo.png" style="margin-right: 50px"/></a>
			<a href="https://pro.coinbase.com/trade/ETH-USD">
				<img src="coinbasepro-logo.png" /></a>


			<h1>Two Factor Authentication (2FA) and VPN</h1>
			<p>In crypto security is your own responsibility. You absolutely
				must use 2FA on any exchange you have money on. Write down the code
				with pen and paper. Read from the paper and put the code in your
				phone's Google Authenticator. Keep the paper backup in a secure
				place.</p>
			<p>Use a VPN for added security and to hide your location. Opera has a free VPN that works well.</p>
			<a
				href="https://www.google.com/landing/2step/">
				<img src="google_authenticator.png" /></a>
			<a
				href="https://www.opera.com/">
				<img src="opera.png" /></a>
			<a
				href="https://www.torproject.org/download/">
				<img src="tor.png" /></a>	


			<h1>Altcoin Exchange - Binance, FTX, Bitfinex, Huobi, Kraken </h1>
			<p>Binance has the lowest fees and many coins listed. FTX is a forward thinking exchange with many indexes and perpetual swaps.
			 Bitfinex has the most options to lend and trade alts on margin, Huobi has some coins Binance doesn't have.</p>
			<a href="https://www.binance.com/en/register?ref=16089760">
				<img src="binance-logo.png"/></a>
			<a href="https://ftx.com/">
				<img src="ftx.png" /></a>
			<a href="https://bitfinex.com/?refcode=LEboOxPu">
				<img src="bitfinex-logo.png" /></a>
			<a href="https://www.huobi.com/en-us/topic/invited/?invite_code=2zcs59514806618510114200552">
				<img src="huobi-logo.png" /></a>	
			<a href="https://www.kraken.com">
				<img src="kraken-logo.png" /></a>

			<h1><a href="https://www.investopedia.com/ask/answers/12/derivative.asp">Derivative</a> Exchange - Bitmex, Bybit, Deribit, Phemex</h1>
			<a href="https://www.bitmex.com/register/EK7jNQ">
				<img src="bitmex.png" />
			</a>


			<h1>Decentralized Exchange - Uniswap, Kyber, Paraswap, DDEX, Bamboo Relay </h1>
			
			<a href="https://uniswap.exchange/swap">
				<img src="uniswap-logo.png" /></a>
			<a href="https://kyberswap.com/swap/eth-knc">
				<img src="kyber-logo.png" /></a>
			<a href="https://paraswap.io/#/pay">
				<img src="paraswap-logo.png" /></a>
			<a href="https://ddex.io/referral?referralCode=FAU3">
				<img src="ddex-logo.png"/></a>
			<a href="https://bamboorelay.com/trade/NUKE-WETH">
				<img src="bamboo-logo.png" /></a>
			<img src="defi_options.png" />
			
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

