<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<link rel="stylesheet" th:href="@{coin-lend.css}" />
<title>What The Phil</title>
</head>
<body class="Site">
	<h1 class="header_logo">
		<a href="http://whatthephil.com">
			<img id="mainImage" src="whatthephil_ninja.png" />
		</a>
	</h1>
	<div th:replace="fragments/menu :: menu"></div>

	<div class="Site-content">
		<div id="steps">
			<h2>1. Gemini and Coinabse Exchanges</h2>
			<p>
				If you live in the USA Gemini and Coinbase are your only decent
				options to buy crypto with USD. Use Gemini because the fees are
				lower. Don't use Coinbase with your credit card. Use Coinbase Pro
				and deposit money with your bank account (ACH) and wait for it to
				clear. Then place a
				<a href="https://www.investopedia.com/terms/b/buy-limit-order.asp">buy
					limit order</a>
				to minimize fees.
			</p>
			<a href="https://gemini.com/" style="zoom: 50%">
				<img src="gemini-dark-logo-768x432.png" />
			</a>
			<a href="https://pro.coinbase.com/trade/ETH-USD" style="zoom: 50%">
				<img src="coinbase_pro.png" />
			</a>


			<h2>2. Two Factor Authentication (2FA) and VPN</h2>
			<p>In crypto security is your own responsibility. You absolutely
				must use 2FA on any exchange you have money on. Write down the code
				with pen and paper. Read from the paper and put the code in your
				phone's Google Authenticator. Keep the paper backup in a secure
				place like a safe in your house or a bank deposit box. If you
				haven't done this in step 1 do it now.</p>
			<p>It's good to use a VPN for added security and to hide your
				location.</p>
			<a
				href="https://www.cyberghostvpn.com/en_US/refer-a-friend/welcome?redeemCode=GHX-4RQ-Y63"
				style="zoom: 50%">
				<img src="cyberghost_logo.png" />
			</a>


			<h2>3. Bitfinex, Binance and FTX</h2>
			<p>These are three of the best exchanges. They have many markets, low fees and margin trading</p>
			<a href="https://bitfinex.com/?refcode=LEboOxPu">
				<img src="bitfinex_leaf.png" style="zoom: 65%" />
			</a>
			<a href="https://www.binance.com/en/register?ref=16089760">
				<img src="binance-logo.png" />
			</a>
			<a href="https://ftx.com/">
				<img src="ftx.png" />
			</a>

			<h2>4. Bitmex - Most liquid exchange. Mainly derivatives.</h2>
			<a href="https://www.bitmex.com/register/EK7jNQ">
				<img src="bitmex.png" />
			</a>


			<h2>4. DDEX.io - Best decentralized exchange</h2>
			<a href="https://ddex.io/referral?referralCode=FAU3">
				<img src="ddex_black.png" />
			</a>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

