<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<link rel="stylesheet" th:href="@{coin-lend.css}" />
<base target="_blank">
<title>What The Phil</title>
</head>
<body class="Site">
	<div th:replace="fragments/header :: header"></div>
	
	
	<div class="Site-content">
		<div id="steps">
			<h2>1. Gemini and Coinabse Exchanges</h2>
			<p>
				If you live in the USA Gemini and Coinbase are your only decent
				options for buying crypto with USD. I recommend Gemini because the fees are
				lower. Deposit money with your bank account to minimize fees.
			</p>
			<a href="https://gemini.com/" style="zoom: 50%">
				<img src="gemini-dark-logo-768x432.png" />
			</a>
			<a href="https://pro.coinbase.com/trade/ETH-USD" style="zoom: 50%">
				<img src="coinbase_pro.png" />
			</a>


			<h2>2. Two Factor Authentication (2FA) and VPN</h2>
			<p>In crypto security is your own responsibility. You absolutely
				must use 2FA on any exchange you have money on. Write down the code
				with pen and paper. Read from the paper and put the code in your
				phone's Google Authenticator. Keep the paper backup in a secure
				place like a safe in your house or a bank deposit box. If you
				haven't done this in step 1 do it now.</p>
			<p>It's good to use a VPN for added security and to hide your
				location.</p>
			<a
				href="https://www.cyberghostvpn.com/en_US/refer-a-friend/welcome?redeemCode=GHX-4RQ-Y63"
				style="zoom: 50%">
				<img src="cyberghost_logo.png" />
			</a>
			<a
				href="https://www.google.com/landing/2step/"
				style="zoom: 14%">
				<img src="google_authenticator.png" />
			</a>
			<a
				href="https://https://www.yubico.com/products/"
				style="zoom: 50%">
				<img src="product-yubikey-1.png" />
				
				
			</a>
			


			<h2>3. FTX, Bitfinex, Binance </h2>
			<p>FTX has good volume and many derivatives. Bitfinex has been around for a while and has margin and lending on many coins. Binance is a decent, popular exchange.  </p>
			<a href="https://bitfinex.com/?refcode=LEboOxPu">
				<img src="bitfinex_leaf.png" style="zoom: 65%" />
			</a>
			<a href="https://www.binance.com/en/register?ref=16089760">
				<img src="binance-logo.png" />
			</a>
			<a href="https://ftx.com/">
				<img src="ftx.png" />
			</a>

			<h2>4. Bitmex - Most liquid exchange. Mainly derivatives.</h2>
			<a href="https://www.bitmex.com/register/EK7jNQ">
				<img src="bitmex.png" />
			</a>


			<h2>5. Decentralized Exchanges - Bamboo Relay (ZRX), DDEX.io </h2>
			<a href="https://bamboorelay.com/trade/NUKE-WETH">
				<img src="bamboo_logo.svg" />
			</a>
			<a href="https://ddex.io/referral?referralCode=FAU3">
				<img src="ddex_black.png" style="zoom: 50%" />
			</a>
			<img src="defi_options.png" class="hover" style="zoom: 50%" />
			
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

