<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{global.css}" />
<link rel="stylesheet" th:href="@{coin-lend.css}" />
<title>What The Phil</title>
</head>
<body class="Site">
	<h1 class="header_logo">
		<a href="http://whatthephil.com"><img id="mainImage"
			src="whatthephil_ninja.png" /></a>
	</h1>
	<div th:replace="fragments/menu :: menu"></div>
	
	<div class="Site-content">

		<div id="cryptotwitter">
			<h3>Good traders</h3>
				<a href="https://twitter.com/redxbt"><img src="/twitter/red.jpg"></a>
				<a href="https://twitter.com/HsakaTrades"><img src="/twitter/haska.jpg"></a>
				<a href="https://twitter.com/fillbeforeshill"><img src="/twitter/fillbefore.jpg"></a>
				<a href="https://twitter.com/Trader_Dante"><img src="/twitter/dante.jpg"></a>
				<a href="https://www.youtube.com/user/InnerCircleTrader"><img src="/twitter/innercirrcle.jpg"></a>
				<a href="https://twitter.com/loomdart"><img src="/twitter/loomdart.jpg"></a>
				<a href="https://twitter.com/majinsayan"><img src="/twitter/majin.png"></a>
				<a href="https://twitter.com/SalsaTekila"><img src="/twitter/salsa.jpg"></a>
				<a href="https://twitter.com/WildWestTrades"><img src="/twitter/westtrades.jpg"></a>
				<a href="https://www.youtube.com/channel/UCBaU9NXRPjkLGgJy-M7RPCw"><img src="/twitter/cred.jpg"></a>
				<a href="https://twitter.com/PeterLBrandt"><img src="/twitter/brandt.jpg"></a>
				<a href="https://twitter.com/bbands"><img src="/twitter/bbands.jpg"></a>
				<a href="https://twitter.com/ThinkingUSD"><img src="/twitter/flood.jpg"></a>
				<a href="https://twitter.com/CryptoDonAlt"><img src="/twitter/donalt.png"></a>
				<a href="https://twitter.com/22loops"><img src="/twitter/loops.jpg"></a>
			<h3>Miners</h3>
				<a href="https://twitter.com/notsofast"><img src="/twitter/notsofast.jpg"></a>
				<a href="https://twitter.com/Socal_crypto"><img src="/twitter/socal.jpg"></a>
				<a href="https://twitter.com/anambroid"><img src="/twitter/ambroid.jpg"></a>
				<a href="https://twitter.com/proofofwalken"><img src="/twitter/walken.jpg"></a>
			
			<h3>Entertainment/Education</h3>
				<a href="https://twitter.com/inversebrah"><img src="twitter/starbust.png"></a>
				<a href="https://twitter.com/APompliano"><img src="/twitter/pomp.jpg"></a>
				<a href="https://twitter.com/aantonop"><img src="/twitter/andreas.jpg"></a>
				<a href="https://twitter.com/bitcoinbella_"><img src="/twitter/bella.jpg"></a>
				
			<h3>CEOs</h3>
				<a href="https://twitter.com/CryptoHayes"><img src="twitter/arthur.jpg"></a>
				<a href="https://twitter.com/cz_binance"><img src="twitter/cv.png"></a>
				<a href="https://twitter.com/VitalikButerin"><img src="twitter/vitalik.jpg"></a> 
				<a href="https://twitter.com/barrysilbert"><img src="twitter/silbert.jpg"></a>
				<a href="https://twitter.com/rogerkver"><img src="twitter/rogerver.jpg"></a>
				<a href="https://twitter.com/SatoshiLite"><img src="twitter/charlielee.jpg"></a>	
				<a href="https://twitter.com/brian_armstrong"><img src="twitter/brianarmstrong.jpg"></a>			
						
			
			<div id="ogs" style="visibility:hidden">
				<h3>Crypto OGs</h3>
					<a href="https://twitter.com/AngeloBTC"><img src="twitter/angelo.jpg"></a>
					<a href="https://twitter.com/CryptoCobain"><img src="twitter/cobie.jpg"></a>
					<a href="https://twitter.com/jebus911"><img src="twitter/ross.jpg"></a>
					<a href="https://twitter.com/ActualAdviceBTC"><img src="twitter/actualadvice.jpg"></a> 
					<a href="https://twitter.com/CryptOrca"><img src="twitter/orca.jpg"></a> 
					<a href="https://twitter.com/RNR_0"><img src="twitter/romano.jpg"></a> 
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
<script>
var ogs = document.getElementById('ogs');
setInterval(() => {
	ogs.style.visibility = "initial";
	setTimeout(() => {
		ogs.style.visibility = "hidden"
	}, 1000);
	;
}, 600000);   
</script>
